<div class="row">
  <% @blogs.each do |blog| %>
    <% cache blog do %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <% if blog.blog_images.present?%>
              <%= link_to image_tag(blog.blog_images.first.image.url(:middle), alt: blog.title), blog_path(blog), class: 'image' %>
            <% end -%>
          <div class="caption">
            <h4><%= link_to blog.title, blog_path(blog), class: 'title' %></h4>
              <ul class="list-unstyled">
                <li>
                  <% if blog.tags.present? %>
                    <% blog.tags.each do |tag| %>
                      <span class="badge"><%= tag.title %></span>
                    <% end -%>
                  <% end -%>
                </li>
              </ul>
          </div>
        </div>
      </div>
    <% end -%>
  <% end -%>
</div>

<%= will_paginate @blogs %>
