.thumbnail {
  height: 290px;
  &.detail {
    height: auto;
  }
  a.title {
    color: #333;
  }
}

.blog-show {
  max-width: 800px;
  margin:0 auto;
}


.video-full-width {
  display: block;
  width: 100%;
}
